.function {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.method {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.class {
    padding-bottom: 50px;
    padding-top: 50px;
}